<div class="col-md-12" style="margin-top: 10%; margin-bottom: 2%;">
  <div class="btn btn-success" (click)="paginaAnterior()">Voltar</div>

  </div>

<mat-card class="card" >
  <mat-card-title class="text-center">Cadastro de Estado</mat-card-title>
  <mat-card-content>
<div class="col-md-12" style="margin-top: 5%;">

  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Estado</label>
      <input type="text" class="form-control"   (focusout)='setNome($event.target.value)'>
      <small  class="form-text text-muted">Insira o nome completo da cidade</small>
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">Sigla</label>
      <input type="text" class="form-control"    (focusout)='setUf($event.target.value)'>
      <small  class="form-text text-muted">Insira a sigla (abreviatura)</small>
    </div>
<div class="col-md-12 text-right">
    <button type="button" class="btn  btn-primary text-right" (click)="salvar()">Salvar</button></div>
  </form>



</div>


</mat-card-content>

</mat-card>

