
<div class="col-md-12" style="margin-top: 10%;">
  <div class="btn btn-success" (click)="paginaAnterior()">Voltar</div>

  </div>


<mat-card class="card" >
  <div class=" col-md-12  ">Dados atualizados com sucesso</div>
  <mat-card-title class="text-center">Cadastro deaaa Estado</mat-card-title>

  <mat-card-content>
<div class="col-md-12" style="margin-top: 5%;">

  <form *ngIf="result">

    <div class="form-group">
      <label for="exampleInputEmail1">Estado</label>
      <input type="text" class="form-control"   [value]='result.data.nome'>
      <input hidden="true" type="text" class="form-control"   [value]='result.data._id'>
      <small  class="form-text text-muted">Insira o nome completo do estado</small>
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">Sigla</label>
      <input type="text" class="form-control"  [value]='result.data.uf'>
      <small  class="form-text text-muted">Insira a sigla (abreviatura)</small>
    </div>
<div class="col-md-12 text-right">
    <button type="button" class="btn  btn-primary text-right" (click)="salvar()">Salvar</button></div>
  </form>



</div>


</mat-card-content>

</mat-card>

