.card {

margin-top:5%;
}

.container{

  transition: 0.2s ease-out;


padding: 0;


}
.box{
width: 200px;
height: 210px;
margin: 18px;



}

.box:hover, .box:active{
  transition: 0.2s ease-out;

transform: scale(1.5);
box-shadow: inset;
background-color: whitesmoke;


-webkit-box-shadow: 10px 10px 48px 0px rgba(69,230,120,1);
-moz-box-shadow: 10px 10px 48px 0px rgba(69,230,120,1);
box-shadow: 10px 10px 48px 0px rgba(69,230,120,1);
z-index: 8888;


}


.go-color {
  color:lighten($color: #55dd2b, $amount: 10%);
  background-color: whitesmoke;
}
.yt-color {
  color:red;
  background-color: whitesmoke;

}

.overlay{

  position: fixed;
  right:0;
  top:0;
  bottom: 0;
  left: 0;
  z-index: 900000;

  background: rgba(0,0,0,0.6);


  }

  .btn-delete{
   margin: 0 2%;

  }


