

<div class="col-md-12 btn-acima-card" >
  <div class="btn btn-success" (click)="cadastrar(filtro.tipoBusca)">Cadastrar {{filtro.tipoBusca}}</div>

  </div>
<mat-card class="card" >



  <div class="card-body">


    <table class="table">
      <thead class="thead-dark text-center">
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">UF</th>
          <th scope="col" colspan="2">Ações</th>
        </tr>
      </thead>
      <tbody>






        <tr class="text-center"   *ngFor='let res of result?.data.data'>

          <th scope="row">{{res.nome}}</th>
          <td>{{res.uf}}</td>
          <td colspan="2"><button class="btn btn-outline-danger" type="button" (click)='abrirModalDeletar(res)'><fa-icon class="icon mx-auto"    [icon]="icons.iDelete"></fa-icon></button>
           <button class="btn btn-outline-success" type="button" >

            <a [routerLink]="[ getRouteUrL() ]" [queryParams]=
            "{id: getId(res) }">
            <fa-icon class="icon mx-auto" aria-label=""   [icon]="icons.iEdit"></fa-icon></a>

          </button>
          </td>

        </tr>


<div class="text-center" *ngIf="result.data == undefined"><span>Nenhum Resultado encontrado</span></div>
      </tbody>
    </table>

  </div>






<div class="my-container">
  <ng-template #customLoadingTemplate>
      <div class="custom-class">
          <h3>
              Loading...
          </h3>

      </div>
  </ng-template>

  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
  //...
</div>


<div *ngIf="idDeletar" class="col-md-12 overlay  col-md-6">

  <div class="modal-dialog modal-lg modal-dialog-scrollable" role="dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Deseja excluir o registro?</h5>
            <button type="button " class="close" (click)='closeModalDeletar()'>
                <span arial-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row justify-content-md-center">
                <div class="col-md-12 text-right">
                  <span><button class="btn btn-danger btn-delete " (click)='deletar()'> OK</button></span>
                  <span><button class="btn btn-success" (click)='closeModalDeletar()'> Cancelar</button></span>


                </div>
            </div></div></div></div>

</div>





</mat-card>
