

<div class="card" >
  <div class="card-body">
<div class="row">




<div class="col-md-8">
<div class=" col-md-12 center" >

  <div class="input-group mb-12">
    <input type="text" class="form-control input-lg" placeholder="Nome" ([ngModel])='filter.nome' >
    <div class="input-group-append ">
      <button class="btn btn-outline-primary" (click)="filtrar()" type="button"><fa-icon class="icon mx-auto" aria-label="YouTube"   [icon]="icons.iSearch"></fa-icon></button>

    </div>
  </div>


</div></div>

<div class="col-md-1 ">
  <div class=" col-md-2 filter-color my-auto  center"  [class.filter-click]='toggleFilter' (click)='openFilter()'>
    <fa-icon class="icon fa-2x " aria-label="YouTube" [class.filter-color-click]='toggleFilter'  [icon]="icons.iFilter"></fa-icon>
  </div></div>

<!-- expanded filter -->
<div class="col-md-12 my-2">
<div class=" col-md-12   center"  >
  <mat-expansion-panel hideToggle  [expanded]="toggleFilter" [hidden]='!toggleFilter' style="box-shadow: none;">
    <mat-expansion-panel-header >
      <mat-action-row class="offset-md-11" >

    </mat-action-row>

    </mat-expansion-panel-header>

    <div *ngIf="selectList != undefined" class="form-group">

      <select class="form-control">
        <option value="{{sel._id}}" *ngFor="let sel of selectList.data.data">{{sel.uf}}</option>
      </select>
    </div>

    <div  class="form-group">

      <select class="form-control">
        <option value="{{sel._id}}" *ngFor="let sel of selectList?.data.data">{{sel.uf}}</option>
      </select>
    </div>


  </mat-expansion-panel>


<div class="container col-md-12 botao-selecao">
  <div class="col-md-12 text-right">

    <div [className]="isCidadeClick ? 'btn btn-primary  btn-large btn-cidades' : '  btn  btn-outline-primary btn-large btn-cidades' " (click)="clickCidades()">Cidades</div>
    <div  [className]="isEstadoClick ? 'btn btn-primary  btn-large btn-cidades' : '  btn  btn-outline-primary btn-large btn-cidades' "(click)="clickEstados()">Estados</div>
  </div>

  </div>


</div></div>




</div>

</div>
</div>


<app-result [loading]="load" [result]="result" [filtro]="filter"  ></app-result>


