.card{



}
.botao-selecao {
margin-top: 5%;

}
.btn-cidades,btn-estados{
margin: 0 2%;
}
.yt-color:hover,.filter-color:hover {
  color:red;

}
.yt-color-click,.filter-color-click {
  color:red;


}
.go-color:hover {
  color:lighten($color: #55dd2b, $amount: 10%);

}
.go-color-click {
  color:lighten($color: #55dd2b, $amount: 10%);

}



mat-expansion-panel{
box-shadow: none;

}
mat-expansion-panel:hover{
background-color: transparent;

}
.icon{
  margin:10%;
  margin: auto;

}

.icon-padding {
padding: auto;

}
