.nav-bar {
  position: fixed;
  background-color: black;
  //#1F2325;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  height: 5%;
  border: 3px solid black;
  z-index: -200;
}
.btn-acima-card{
margin-top: 10%;
margin-bottom: 5%;

}
svg {
  max-width: 10%;

  padding: 0;

  z-index: 200;
}

nav {

  box-shadow: 60px -16px teal;
  border-radius: round($number: 1%);
}
use {
  stroke: #f4b429;
  fill: none;
  stroke-dasharray: 3, 2;
  stroke-width: 5%;

  stroke-linecap: round;
}

.card-menu {
  margin:1%;
  margin-left: 0;

}

.logo-img {
  max-width: 30%;
  margin: auto;
  padding: 0;
  background-color: #40474c;
}
.navbar-icon {
  background-color: #40474c;
}

svg:hover {
  use {
  animation: svg-animate 6s infinite;
  stroke: #fefe18;
}

}





@keyframes svg-animate {
  10% {
      stroke-dasharray: 30, 10;
      stroke: #fefe18;
      fill: none;
  }
  100% {
      stroke-dasharray: 5000, 800, 3000;
  }
}

.menu {
  color: #f4b429;
}
.menu-img {
  max-width: 20%;
  position: absolute;
}

.menu-drop{

  width: 30% ;
  border-radius: 1%;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color:#40474c ;
  position: fixed;
  height: 100%;
  overflow: auto;




  }

  .card{
margin: auto;
margin: 2%;
margin-right: 0;

  }

  .menu-drop ul li {


  color: white;
  box-shadow: inset;
  background-color: #40474c;


  }
  .menu-drop ul li:hover {


  color: #40474c;
  background-color: #fefe18;



  }

  .card {

    z-index: -80000;
  }

  .example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  mat-list-item:hover{

    color: white;
    box-shadow: inset;
    background-color: #40474c;
  }

  .example-is-mobile .example-toolbar {
    position: fixed;
    background-color: #45e678;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }

  .example-toolbar{

   // background-color: #45e678;
   background-color: #59eb88;
  }

  h1.example-app-name {
    margin-left: 8px;

  }

  .icon-1x {
    transform: scale(1.5);


}

  a.example-app-name:hover,h1.example-app-name:hover {
    color: red;
  }

  mat-icon:hover{
color:red;
transform: scale(1.5);

  }

  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }

  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }


  .container {

    display: inline;
  }



  .card {

    margin-top: 30%;

    }

    .card filter {

      z-index: -80000;
    }


    .example-container {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .example-is-mobile .example-toolbar {
      position: fixed;
      /* Make sure the toolbar will stay on top of the content as it scrolls past. */
      z-index: 2;
    }

    h1.example-app-name {
      margin-left: 8px;
    }

    .example-sidenav-container {
      /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
         causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
      flex: 1;
    }

    .example-is-mobile .example-sidenav-container {
      /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
         `<body>` to be our scrolling element for mobile layouts. */
      flex: 1 0 auto;
    }
