
<!-- <mat-sidenav-container class="example-sidenav-container"
[style.marginTop.px]="mobileQuery.matches ? 56 : 0">
<mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
[fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
<mat-nav-list>
<a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a>
</mat-nav-list>
</mat-sidenav>
 -->

 <!-- <mat-sidenav-container class="example-container" >



  <mat-sidenav mode="push" #sidenav >

 <p>asasasas</p>
 <p>asasasas</p>
 <p>asasasas</p>
 <p>asasasas</p>
 <p>asasasas</p>
 <p>asasasas</p>


  </mat-sidenav>


  <mat-sidenav-content position="end">
    <p>Raimundo</p>
    </mat-sidenav-content>

</mat-sidenav-container> -->



<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" >
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button  (click)="sidenav.toggle()"><mat-icon class="icon-1x">offline_bolt</mat-icon></button>
    <div class="row">

      <div class="col "><a class="example-app-name">Desafio Zoox</a></div>


  </div>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #sidenav mode="push"
                >
      <mat-nav-list>
        <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
  <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>














