

<div class="col-md-12" style="margin-top: 10%;">
  <div class="btn btn-success" (click)="paginaAnterior()">Voltar</div>

  </div>
<mat-card class="card" >
  <mat-card-title class="text-center">Edição de Cidades</mat-card-title>
  <mat-card-content>
<div class="col-md-12" style="margin-top: 5%;">

  <form *ngIf="result">
    <div class="form-group">
      <label for="exampleInputEmail1">Cidade</label>
      <input type="text" class="form-control"   (focusout)='setNome($event.target.value)'>
      <small  class="form-text text-muted">Insira o nome completo da cidade</small>
    </div>
    <div class="form-group" >
      <label for="exampleInputPassword1">UF</label>
      <select class="form-control" (click)="selectOption($event.target.value)">
        <option [selected]="sel._id == result?.data.data.uf" value="{{sel._id}}" *ngFor="let sel of estadoSelecao?.data.data">{{sel.sigla_uf}}</option>
      </select>
    </div>
<div class="col-md-12 text-right">
    <button type="button" class="btn  btn-primary text-right" (click)="salvar()">Salvar</button></div>
  </form>



</div>


</mat-card-content>

</mat-card>

